platform:
  - x86

environment:
  FORK_USER: ocaml
  FORK_BRANCH: master
  CYG_ROOT: C:\cygwin64
  PACKAGE: datakit
  PINS: "protocol-9p.0.11.0:--dev protocol-9p-unix.0.11.0:--dev conduit.0.15.3:--dev irmin.1.1.0:--dev irmin-git.1.1.0:--dev datakit-server.dev:. datakit-github.dev:. datakit-client.dev:."

install:
  - ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/$env:FORK_USER/ocaml-ci-scripts/$env:FORK_BRANCH/appveyor-install.ps1"))

build_script:
  - call %CYG_ROOT%\bin\bash.exe -l %APPVEYOR_BUILD_FOLDER%\appveyor-opam.sh
